<!DOCTYPE html>
<html>

<head>
  <!-- SEO优化 -->
  <meta name="robots" content="index,follow">
  <meta name="google" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <!-- 渲染优化 -->
  <meta name="renderer" content="webkit">
  <meta name="force-rendering" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!--将http请求转成https请求-->
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body>
  <!--Netlify CMS-->
  <script async="true"
    src="//cdn.jsdelivr.net/npm/netlify-identity-widget@1/build/netlify-identity-widget.min.js"></script>
  <!--网页标题崩溃+点击特效-->
  <script defer="true"
    src="//cdn.jsdelivr.net/combine/gh/leicancun/JSCDN/js/crash_cheat.min.js,gh/leicancun/JSCDN/js/fireworks.min.js"></script>
  <!--看板娘-->
  <!-- <script defer="true" 
    src="//cdn.jsdelivr.net/gh/leicancun/live2d-widget@0.8.1/autoload.min.js"></script> -->
</body>

</html>