<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="x-UA-Compatible" content="IE=Edge">
  <!--将http请求转成https请求-->
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body>
  <!--Netlify CMS-->
  <script async="true" type="text/javascript"
    src="//cdn.jsdelivr.net/npm/netlify-identity-widget@1/build/netlify-identity-widget.min.js"></script>
  <!--网页标题崩溃+点击特效-->
  <script defer="true" type="text/javascript"
    src="//cdn.jsdelivr.net/combine/gh/leicancun/JSCDN/js/crash_cheat.min.js,gh/leicancun/JSCDN/js/fireworks.min.js"></script>
  <!--看板娘-->
  <!-- <script defer="true" src="//cdn.jsdelivr.net/gh/leicancun/live2d-widget@0.8.1/autoload.min.js"></script> -->
</body>

</html>